
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
__pycache__
dist/
*.env
package-lock.json
package.json
.vscode/
*.yaml
.gitignore
.zed
.vscode
.idx
allure-report
allure-results